@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  /* font-family: 'Lato', sans-serif; */
  color: var(--primary);
  overflow-x: hidden;
  /* font-family: 'ui-sans-serif'; */
  /* font-family: 'Playfair'; */
  /* font-family: 'Roboto'; */
}

/* --- Component --- */
.bg-transparent-top-layer {
  background-color: rgba(19,19,19,.15);
  backdrop-filter: blur(6px);
  opacity: 1;
}

/* --- Transition --- */
@media (hover: hover) {
  .hover-glow:hover {
    cursor: pointer;
    overflow: hidden;
    text-shadow: #FC0 1px 0 10px;
    font-weight: 700;
  }
}

.content-fade {
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

content-fade-slow {
  transition: opacity 5s ease-in-out;
  opacity: 0;
}

content-fade-in {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}
